<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Lender</title>
</head>

<body LANG='en-US' DIR='LTR'>
    <div style='margin:0px auto; padding:0px; width:750px; background:#fff; color:#6c6c71; font-size:16px; font-family:Arial, sans-serif;'>
        <div style='width:720px; background:#fff; border:solid 10px #bcbcbf; padding:25px 25px 0px 25px; float:left;'>
            <!-- <div style='text-align:center; margin:10px 0px 20px 0px;'><a href='#'><img src='images/logo.png'  alt='Capital Alliance' border='0'/></a></div> -->
            <div style='margin:0px 0px 20px 10px; float:left; width:100%; font-size:14px; color:#666769;'>
                <p style='padding:0px; margin:5px 0px; font-weight:bold; color:#000'>Business Name:
                    <span style=' color:#0053ab; font-weight:normal;'>{{businessName}} </span>
                </P>
                <p style='padding:0px; margin:5px 0px; font-weight:bold; color:#000'>Loan #
                    <span style=' color:#0053ab; font-weight:normal;'>{{loanNumber}}</span>
                </P>
                <p style='padding:0px; margin:10px 0px;'>&nbsp;</p>
                <P style='padding:0px; margin:5px 0px;'>Dear
                    <span style=' color:#0053ab;'>{{name}}</span>,</P>
                <P style='padding:0px; margin:5px 0px;'>This letter is meant to inform you that as of
                    <span style=' color:#0053ab;'>{{payOffDate}}</span>,the following is the pay-off schedule.</p>
                <table class='test' cellspacing='0' cellpadding='0' style='border:1px solid #ccc; width:95%; margin:20px 0px;'>
                    <thead>
                        <tr>
                            <td style='padding:8px;border:1px solid #ccc;'>
                                <b>Pay-Off Date</b>
                            </td>
                            <td style='padding:8px;border:1px solid #ccc;'>
                                <b>Prinicipal</b>
                            </td>
                            <td style='padding:8px;border:1px solid #ccc;'>
                                <b>Finance Charge</b>
                            </td>
                            <td style='padding:8px;border:1px solid #ccc;'>
                                <b>Outstanding Fees</b>
                            </td>
                            <td style='padding:8px;border:1px solid #ccc;'>
                                <b>Total to be paid</b>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <span style=' color:#0053ab;'>{{#each payoffSchedule}}</span>
                        <tr>
                            <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>{{payOffDate}}</td>
                            <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>{{principal}}</td>
                            <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>{{interest}}</td>
                            <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>{{outstandingFees}}</td>
                            <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>{{totalAmountWithout}}</td>
                        </tr>
                        <span style=' color:#0053ab;'>{{/each}}</span>

                    </tbody>
                </table>
                <P style='padding:0px; margin:5px 0px;'>Outstanding Fees</p>
                <table class='test' cellspacing='0' cellpadding='0' style='border:1px solid #ccc; width:95%; margin:20px 0px;'>
                    <thead>
                        <tr>
                            <td style='padding:8px;border:1px solid #ccc;'>
                                <b>Fees Name</b>
                            </td>
                            <td style='padding:8px;border:1px solid #ccc;'>
                                <b>Fees Type</b>
                            </td>
                            <td style='padding:8px;border:1px solid #ccc;'>
                                <b>Fees Amount</b>
                            </td>
                            <td style='padding:8px;border:1px solid #ccc;'>
                                <b>Applied On Date</b>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <span style=' color:#0053ab;'>{{#each feeDetails}}</span>
                        <tr>
                            <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>{{feeName}}</td>
                            <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>{{feeType}}</td>
                            <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>{{feeAmount}}</td>
                            <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>{{appliedOnDate}}</td>
                        </tr>
                        <span style=' color:#0053ab;'>{{/each}}</span>

                    </tbody>
                </table>
                <P style='padding:0px; margin:5px 0px;'>Please note that this schedule is assuming all scheduled payments shall be paid. </P>
                <p style='padding:0px; margin:10px 0px;'>&nbsp;</p>
                <P style='padding:0px; margin:0px; font-weight:bold; color:#000'>Kind Regards,</P>
                <P style='padding:0px; margin:0px;'>LendFoundry</P>
                <P style='padding:0px; margin:0px;'>development@lendfoundry.com</P>

            </div>
        </div>
    </div>






</body>

</html>