<!doctype html>
<html>

<head>
	<meta charset='utf-8'>
	<title>Untitled Document</title>
	<style type='text/css'>
		.red p {
			margin: 5px;
		}

		p {
			font-family: arial;
			font-size: 14px;
			text-align: justify;
			line-height: 20px;
		}

		.address-box p {
			margin-bottom: 5px;
		}

		.address-box {
			float: right;
		}

		.wrap {
			margin: 25px;
		}

		.tab-space {
			margin-left: 30px;
		}

		table {
			border: 1px dashed #ccc;
			width: 100%;
			border-bottom: none;
		}

		table td {
			border-bottom: 1px dashed #ccc;
		}

		.anchorString {
			color: white
		}
	</style>
</head>

<body>
	<div class='wrap'>
		<p>
			<strong>Lendfoundry, LLC</strong>
		</p>
		<div class='address-box'>
			<p>
				<strong>FUTURE RECEIPTS</strong>
			</p>
			<p>
				<strong>SALE AGREEMENT</strong>
			</p>
			<p>
				<strong>ADDENDUM</strong>
			</p>
			<p class='anchorString'>SIGNED_DATE1</p>
		</div>
		<p>VIA FAX / EMAIL</p>
		<div class='red'>
			<p>{{MerchantLegalName}}</p>
			<p>{{Owner1Name}}</p>
			<p>{{PhysicalAdd}}</p>
		</div>
		<p>
			<strong>RE: Lendfoundry / Repurchase Option</strong>
		</p>
		<p>We refer to the Future Receipts Sale Agreement dated {{DateCreated}} (as amended from time to time, the “Agreement”) between
			<span>{{MerchantLegalName}}</span>
		</p>
		<p>(“Merchant”) and Lendfoundry, LLC (“Purchaser” or “Lendfoundry”). Capitalized terms used and not defined in this letter
			have the meanings as used in the Agreement.</p>
		<p>Pursuant to the Agreement, Lendfoundry has agreed to pay Merchant the amount of the “Purchase Price” (as set forth in the
			Agreement) in exchange for the “Amount Sold” (as set forth in the Agreement) of Merchant’s Future Receipts. The parties
			desire to add the following terms to the Agreement:</p>
		<p>Merchant and Lendfoundry hereby agree that notwithstanding anything to the contrary in the Agreement, Merchant may (but
			is not obligated) to repurchase that portion of the Amount Sold of Future Receipts that Lendfoundry has not yet collected
			(“Uncollected Future Receipts”) by paying Lendfoundry the repurchase price on or before the corresponding optional repurchase
			date as set forth in the repurchase option schedule below. </p>
		<div class='tab-space'>
			<p>A. Purchaser may repurchase the Uncollected Future Receipts by paying Purchaser on or before the 90th day after the date
				of the Agreement (“First Optional Repurchase Date”) an amount such that Purchaser will have received on or before the
				First Optional Repurchase Date a total of
				<span>{{First_RepurchasePrice}}</span> in connection with the Agreement.</p>
			<p>B. Purchaser may repurchase the Uncollected Future Receipts by paying Purchaser after the First Optional Repurchase Date
				and on or before the 120th day after the date of the Agreement (“Second Optional Repurchase Date”) an amount such that
				Purchaser will have received on or before the Second Optional Repurchase Date a total of
				<span>{{Second_RepurchasePrice}}</span> in connection with the Agreement.</p>
			<p>C. Purchaser may repurchase the Uncollected Future Receipts by paying Purchaser after the Second Optional Repurchase Date
				and on or before the 150th day after the date of the Agreement (“Third Optional Repurchase Date”) an amount such that
				Purchaser will have received on or before the Third Optional Repurchase Date a total of
				<span>{{Third_RepurchasePrice}}</span> in connection with the Agreement.</p>
			<p>D. Purchaser may repurchase the Uncollected Future Receipts by paying Purchaser after the Third Optional Repurchase Date
				and on or before the 180th day after the date of the Agreement (“Fourth Optional Repurchase Date”) an amount such that
				Purchaser will have received on or before the Fourth Optional Repurchase Date a total of
				<span>{{Fourth_RepurchasePrice}}</span>in connection with the Agreement.</p>
			<p>E. Purchaser may repurchase the Uncollected Future Receipts by paying Purchaser after the Fourth Optional Repurchase Date
				and on or before the 210th day after the date of the Agreement (“Fifth Optional Repurchase Date”) an amount such that
				Purchaser will have received on or before the Fifth Optional Repurchase Date a total of
				<span>{{Fifth_RepurchasePrice}}</span> in connection with the Agreement.</p>
		</div>
		<p>
			<strong>If any of the following events occur, the repurchase option schedule set forth above will no longer be valid, but Merchant
				still may repurchase the Uncollected Future Receipts by paying Lendfoundry a repurchase price that equals the Uncollected
				Amount Sold as provided in Section 20 of the Agreement:</strong>
		</p>
		<p>
			<strong>&bull; Merchant receives financing for Merchant’s business from a person other than Purchaser, including, but not limited
				to, any bank, finance company or other receivables purchaser (each a “Competitive Organization”), before Lendfoundry
				collects the entire Amount Sold;</strong>
		</p>
		<p>
			<strong>&bull; Any person other than Merchant or any Principal, including, but not limited to, any Competitive Organization, attempts
				to pay Lendfoundry the repurchase price on behalf of Merchant or from any bank account that does not identify the Merchant
				or any Principal as the primary accountholder; or</strong>
		</p>
		<p>
			<strong>&bull; Merchant breaches the Agreement in any manner, including, without limitation, by (i) being subject to at least
				four Returned Item Fees, (ii) putting a block on the Approved Account or otherwise preventing Lendfoundry from accessing
				the Approved Account as permitted by the Agreement, (iii) not depositing all funds arising from Future Receipts into
				the Approved Account and maintaining such funds in the Approved Account during the time period required by the Agreement,
				(iv) not delivering funds arising from Future Receipts to Lendfoundry in accordance with the terms of the Agreement if
				Merchant’s enrollment in the Automatic Collection Program is terminated or suspended, (v) selling the Future Receipts
				to a third party, (vi) materially changing the nature of Merchant’s business from that originally disclosed to Lendfoundry
				in connection with the Agreement, (vii) not conducting Merchant’s business substantially in accordance with past practice
				without prior notice to Lendfoundry; (viii) conducting business under any name other than that disclosed in the Agreement
				or changing business locations or, except in the ordinary course of business, the location of any assets of the business
				without the prior written consent of Lendfoundry, (ix) selling any substantial part of Merchant’s business or fixed assets
				or any property or other assets necessary for the continuance of Merchant’s business in any manner prohibited by the
				Agreement, (x) committing fraud in connection with the Agreement or (xi) failing to provide Lendfoundry with any business
				records upon request in accordance with the Agreement.</strong>
		</p>
		<p>Merchant may repurchase the Amount Sold of Future Receipts by mailing or delivering a check in the amount of the repurchase
			price to Lendfoundry or, if offered, transferring funds in the amount of the repurchase price to Lendfoundry by any pay-by-phone
			or on-line service that Lendfoundry may make available from time to time. If Merchant elects to send a check in the amount
			of the repurchase price by postal mail, then Merchant agrees to send the check to Lendfoundry’s address as provided for
			in Section 8 of the Agreement. Any payment of the repurchase price must be in good funds in U.S. dollars. </p>
		<p>Except as modified by this letter, the Agreement remains in full force and effect. Merchant agrees to execute any documents
			and/or agreements in order to implement the provisions of this letter.</p>
		<p>This letter may be executed in any number of counterparts, each of which shall be deemed to be an original, but all such
			separate counterparts shall together constitute but one and the same instrument. Executed signature pages transmitted
			by facsimile or other means of electronic delivery shall be legally valid and binding against the parties.</p>
		<p>By executing this letter at the appropriate place below, Merchant and Lendfoundry acknowledge and agree to the terms and
			conditions of this letter.</p>
		<table>
			<tbody>
				<tr>
					<td colspan='2' valign='top'>
						<p>Lendfoundry, LLC</p>
					</td>
					<td valign='top' />
					<td colspan='2' valign='top'>
						<p>Merchant (Business)</p>
					</td>
				</tr>
				<tr>
					<td valign='bottom'>
						<p>Signature</p>
					</td>
					<td valign='top' class='anchorString'>
						<p>LENDFOUNDRY_SIGNATURE</p>
					</td>
					<td valign='top' />
					<td valign='bottom'>
						<p>Signature</p>
					</td>
					<td valign='bottom' class='anchorString'>
						<p>SIGNATUREOWNER1</p>
					</td>
				</tr>
				<tr>
					<td valign='bottom'>
						<p>Name</p>
					</td>
					<td valign='top'>
						<p>{{LenderName}}></p>
					</td>
					<td valign='top' />
					<td valign='bottom'>
						<p>Name</p>
					</td>
					<td valign='top'>
						<p>{{Owner1Name}}</p>
					</td>
				</tr>
				<tr>
					<td valign='bottom'>
						<p>Title</p>
					</td>
					<td valign='top'>
						<p>{{LenderTitle}}</p>
					</td>
					<td valign='top' />
					<td valign='bottom'>
						<p>Title</p>
					</td>
					<td valign='top'>
						<p>Owner</p>
					</td>
				</tr>
				<tr>
					<td valign='bottom'>
						<p>Date</p>
					</td>
					<td valign='top' class='anchorString'>
						<p>DateSignedLender</p>
					</td>
					<td valign='top' />
					<td valign='bottom'>
						<p>Date</p>
					</td>
					<td valign='bottom' class='anchorString'>
						<p>SIGNED_DATE1</p>
					</td>
				</tr>
				<tr>
					<td valign='top'>&nbsp;</td>
					<td valign='top'>&nbsp;</td>
					<td valign='top'>&nbsp;</td>
					<td valign='top'>&nbsp;</td>
					<td valign='top'>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>