<!doctype html>
<html>
<head>
<meta charset='utf-8'>
<title>Lender</title>
</head>
	
<body LANG='en-US' DIR='LTR'>
<div style='margin:0px auto; padding:0px; width:750px; background:#fff; color:#6c6c71; font-size:16px; font-family:Arial, sans-serif;'>
<div style='width:720px; background:#fff; border:solid 10px #bcbcbf; padding:25px 25px 0px 25px; float:left;'>
<!-- <div style='text-align:center; margin:10px 0px 20px 0px;'><a href='#'><img src='images/logo.png'  alt='Capital Alliance' border='0'/></a></div> -->

<div style='margin:0px 0px 20px 10px; float:left; width:100%; font-size:14px; color:#666769;'>
<p style='padding:0px; margin:5px 0px; font-weight:bold; color:#000'>Business Name: <span style=' color:#0053ab; font-weight:normal;'>{{businessName}} </span></P>
<p style='padding:0px; margin:5px 0px; font-weight:bold; color:#000'>Loan # <span style=' color:#0053ab; font-weight:normal;'>{{loanNumber}}</span></P>
<p style='padding:0px; margin:10px 0px;'>&nbsp;</p>
<P style='padding:0px; margin:5px 0px;'>Dear <span style=' color:#0053ab;'>{{name}}</span>,</P>
<P style='padding:0px; margin:5px 0px;'>Please accept this letter as confirmation for the schedule that has been created effective <span style=' color:#0053ab;'>{{ActivationDate}}</span>. By this
letter, we mutually agree to the following modifications to the terms. These revised terms are only valid while our agreement is in good standing, and all other terms and conditions are satisfied. </P>
<P style='padding:0px; margin:5px 0px;'>Reason: {{reason}}</P>
<P style='padding:0px; margin:5px 0px;'>Current Balance: <span style=' color:#0053ab;'>{{currentBalance}} </span></P>	
<P style='padding:0px; margin:5px 0px;'>Funded Amount: <span style=' color:#0053ab;'>{{newDrawDownAmount}} </span></P>
<P style='padding:0px; margin:5px 0px;'>Total Balance Due: <span style=' color:#0053ab;'>{{totalBalanceDue}} </span></P>
<P style='padding:0px; margin:5px 0px;'>New Payment Schedule:</P>

<table class='test' cellspacing='0' cellpadding='0' style='border:1px solid #ccc; width:95%; margin:20px 0px;'>
				<thead>                
				<tr>
                        <td style='padding:8px;border:1px solid #ccc;'><b>Schedule Date</b></td>
						<td style='padding:8px;border:1px solid #ccc;'><b>Schedule Amount</b></td>
						<td style='padding:8px;border:1px solid #ccc;'><b>Prinicipal</b></td>
						<td style='padding:8px;border:1px solid #ccc;'><b>{{labelForRateAmount}}</b></td>
                </tr>
				</thead>
				<tbody>
				<span style=' color:#0053ab;'>{{#each scheduleList}}</span>
                <tr>
				     <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>{{ScheduleDate}}</td>
                        <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>{{PaymentAmount}}</td>
                        <td style='padding:8px;color:#0053ab; border:1px solid #ccc;'>{{PrincipalAmount}}</td>
                        <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>{{InterestAmount}}</td>
						
                </tr>
                 <span style=' color:#0053ab;'>{{/each}}</span>
				
				</tbody>
</table>
<P style='padding:0px; margin:5px 0px;'>Please keep in mind that all transactions shall be done via the linked bank account that we have
for this agreement. Any change in the same, you should contact us!</p>
<p style='padding:0px; margin:10px 0px;'>&nbsp;</p>
<P style='padding:0px; margin:0px; font-weight:bold; color:#000'>Kind Regards,</P>
<P style='padding:0px; margin:0px;'>LendFoundry</P>
<P style='padding:0px; margin:0px;'>development@lendfoundry.com</P>

</div>
</div>
</div>





			
</body>
</html>