<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>Untitled Document</title>
</head>
<style>
    .lf-demo-table {
        width: 850px;
        height: auto;
        float: left;
        border: 1px solid #000;
        font: bold 13px 'Arial';
        line-height: 17px;
    }

    .lf-demo-table th,
    .lf-demo-table td {
        border-bottom: 1px solid #000;
    }

    .lf-demo-table th h3 {
        text-align: center !important;
    }

    .lf-demo-table p {
        font-size: 11px;
        font-weight: normal;
        margin: 2px 0px;
        padding: 4px 8px;
    }

    .lf-demo-table .p2 {
        font-size: 13px;
        margin: 10px 0px;
        padding: 4px 8px;
    }

    .lf-demo-table h3 {
        text-align: left;
        margin-top: 5px;
        margin: 0px;
        color: #fff;
        font-size: 16px;
        padding: 4px 8px;
    }

    .blue-header {
        background: #1a3674;
    }

    .right-border {
        border-right: 1px solid #000;
    }

    .lf-demo-table table {
        width: 100%
    }

    .p3 {
        margin: 8px 0px !important;
        font-size: 11px;
    }

    .bottom-border {
        border-bottom: 1px solid #000;
    }

    .daily-payment {
        width: 100%
    }

    .daily-payment td {
        border-bottom: 0px !important;
        padding: 6px 8px;
    }

    .sapn-left {
        float: left;
        font-size: 11px;
        font-weight: normal;
    }

    .sapn-right {
        float: left;
        width: 152px;
        border-bottom: 1px solid #000;
        float: left;
        padding: 10px;
    }
</style>

<body>
    <table class='lf-demo-table' cellpadding='0' cellspacing='0'>
        <tr>
            <th colspan='4' class='blue-header'>
                <h3> Lendfoundry Demo Tenant Funding Application</h3>
            </th>
        </tr>

        <tr>
            <td colspan='4'>
                <p class='p2'>Please complete this application and return it with four months of your most recent bank statements, as well
                    as a current month-to-date transaction summary printout. Alternatively, follow the link to
                    <a href='#'>demo.lendfoundry.com</a> to receive a formal funding approval.</p>

                <p class='p2'> There are no fees, charges, or obligations associated with obtaining a pre-approval. Pre-approval does not
                    constitute a funding commitment.</p>
            </td>
        </tr>

        <tr>
            <td colspan='4' class='blue-header'>
                <h3>A. Business Information</h3>
            </td>
        </tr>

        <tr>
            <td colspan='2' class='right-border'>
                <p>Business Legal Name ('Merchant'):{{BusinessLegalName}} </p>
            </td>
            <td colspan='2'>
                <p>Business DBA Name:{{BusinessDBAName}}</p>
            </td>
        </tr>

        <tr>
            <td colspan='2' class='right-border'>
                <p>Street Address:{{StreetAddress}} </p>
            </td>
            <td colspan='2'>
                <p> City:{{City}}</p>
            </td>
        </tr>

        <tr>
            <td class='right-border'>
                <p>State:{{State}}</p>
            </td>
            <td class='right-border'>
                <p> Zip:{{Zip}}</p>
            </td>
            <td colspan='2'>
                <p>Phone:{{Phone}}</p>
            </td>
        </tr>

        <tr>
            <td colspan='2' class='right-border'>
                <p>Website:{{Website}}</p>
            </td>
            <td colspan='2'>
                <p>Mobile:{{Mobile}}</p>
            </td>
        </tr>

        <tr>
            <td colspan='2' class='right-border'>
                <p>Legal Entity:{{LegalEntity}}</p>
            </td>
            <td colspan='2'>
                <p>Fax:{{Fax}}</p>
            </td>
        </tr>

        <tr>
            <td colspan='2' class='right-border'>
                <p> Business Location:{{BusinessLocation}}</p>
            </td>
            <td colspan='2'>
                <p>Email:{{Email}}</p>
            </td>
        </tr>
        <tr>
            <td colspan='2' class='right-border'>
                <p>Date Business Started:{{DateBusinessStarted}}</p>
            </td>
            <td colspan='2'>
                <p>Federal State Tax #:{{FederalStateTaxId}}</p>
            </td>
        </tr>

        <tr>
            <td colspan='2' class='blue-header'>
                <h3>B. Owner/Principle Information</h3>
            </td>
            <td colspan='2' class='blue-header'>
                <h3> Owner #2 (If Applicable)</h3>
            </td>
        </tr>

        <tr>
            <td colspan='2' class='right-border'>
                <p>Name:{{Owner1Name}}</p>
            </td>
            <td colspan='2'>
                <p>Name:{{Owner2Name}}</p>
            </td>
        </tr>

        <tr>
            <td colspan='2' class='right-border'>
                <p> Address:{{Owner1Address}}</p>
            </td>
            <td colspan='2'>
                <p> Address:{{Owner2Address}}</p>
            </td>
        </tr>

        <tr>
            <td colspan='2' class='right-border'>
                <p> City, State Zip:{{Owner1City}} {{Owner1State}} {{Owner1Zip}}</p>
            </td>
            <td colspan='2'>
                <p>City, State Zip:{{Owner2City}} {{Owner2State}} {{Owner2Zip}}</p>
            </td>
        </tr>

        <tr>
            <td colspan='2' class='right-border'>
                <p>Phone:{{Owner1Phone}}</p>
            </td>
            <td colspan='2'>
                <p>Phone:{{Owner2Phone}}</p>
            </td>
        </tr>

        <tr>
            <td colspan='2' class='right-border'>
                <p> Email:{{Owner1Email}}</p>
            </td>
            <td colspan='2'>
                <p> Email:{{Owner2Email}} </p>
            </td>
        </tr>

        <tr>
            <td class='right-border'>
                <p>% of Ownership:{{Owner1Ownership}} </p>
            </td>
            <td class='right-border'>
                <p> Date of Birth:{{Owner1DOB}}</p>
            </td>
            <td class='right-border'>
                <p>% of Ownership:{{Owner2Ownership}} </p>
            </td>
            <td>
                <p> Date of Birth:{{Owner2DOB}}</p>
            </td>
        </tr>
        <tr>
            <td colspan='2' class='right-border'>
                <p> SSN#:{{Owner1SSN}}</p>
            </td>
            <td colspan='2'>
                <p>SSN#:{{Owner2SSN}}</p>
            </td>
        </tr>
        <tr>
            <td colspan='2' class='right-border'>
                <p>Driver’s License # :{{Owner1DL}} </p>
            </td>
            <td colspan='2'>
                <p> Driver’s License #:{{Owner2DL}}</p>
            </td>
        </tr>

        <tr>
            <td colspan='4' class='blue-header'>
                <h3>C. Funding Information</h3>
            </td>
        </tr>

        <tr>
            <td colspan='4'>
                <table cellpadding='0' cellspacing='0'>
                    <tr>
                        <td class='right-border'>
                            <p> Your Annual Business Revenue:{{AnnualBusinessRevenue}}</p>
                        </td>
                        <td class='right-border'>
                            <p>You Monthly Credit Card Volume:</p>
                        </td>
                        <td>
                            <p> Your Average Bank Balance:</p>
                        </td>
                    </tr>
                    <tr>
                        <td class='right-border'>
                            <p> Do You Have a Current Advance Balance?</p>
                        </td>
                        <td class='right-border'>
                            <p>Loan Amount Requested:{{LoanAmountRequested}}</p>
                        </td>
                        <td>
                            <p> Use of Funds:{{UseOfFunds}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class='right-border'>
                            <p> Daily Payment of Current Advance:</p>
                        </td>
                        <td class='right-border'>
                            <p>Current Advance Held With:</p>
                        </td>
                        <td>
                            <p> Funding Date of Current Advanc</p>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        </tr>

        <tr>
            <td colspan='4'>
                <p class='p3'> The undersigned, owners and principles (1) authorize LendFoundry Demo Tenant, and our funding partners to
                    obtain and review credit reports for the purpose of evaluating financial readiness to receive business
                    funding, (2) certify all information and documentation submitted in connection with this application
                    is true, correct, and complete, (3) understand authorization is further granted to verify any information
                    on the application regarding the undersigned, owners, and principles from third parties, (4) applicant
                    will immediately notify LendFoundry Demo Tenant, of any change in such information or financial condition,
                    (5) each Owner/Officer represents that he or she is authorized to sign this form on behalf of Merchant,
                    (6) consents to receive emails and faxes for the purpose of transmitting account updates, requests for
                    information, and notices, and (7) authorize LendFoundry Demo Tenant, and our funding partners to utilize
                    a consumer credit report on the undersigned in connection with continuing or extending the business relationship.
                    (8) This request is for business and not for consumer purposes.</p>
            </td>
        </tr>

        <tr>
            <td colspan='4'>
                <table cellpadding='0' cellspacing='0' class='daily-payment'>
                    <tr>
                        <td colspan='6'>
                            <span class='sapn-left'> Owner/Principle Signature:
                                <span style='color:white'>SIGNATUREOWNER1</span>
                            </span>
                        </td>
                        <td colspan='6'>
                            <span class='sapn-left'> Owner/Principle Signature:
                                <span style='color:white'>SIGNATUREOWNER2</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='4'>
                            <span class='sapn-left'> Print Name:{{PrintName1}} </span>
                            </span>
                        </td>
                        <td colspan='2'>
                            <span class='sapn-left'> Date: </span>
                            </span>
                        </td>
                        <td colspan='4'>
                            <span class='sapn-left'> Print Name:{{PrintName2}} </span>
                        </td>
                        <td colspan='2'>
                            <span class='sapn-left'> Date: </span>
                            </span>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

    </table>
</body>

</html>