<!DOCTYPE html>
<html lang='eng'>

<head>
	<meta charset='utf-8' />
	<title>FUTURE&#32;RECEIPTS&#32;SALE&#32;AGREEMENT</title>
	<style>
		body {
			font-size: 11pt;
			font-family: 'Calibri';
			margin: 0;
			padding: 0;
		}

		p,
		td {
			font-size: 11pt;
			font-family: 'Calibri';
			color: #000;
		}

		p {
			text-align: justify
		}

		h3 {
			font-family: 'Calibri';
			margin: 0;
			font-size: 14px;
			font-weight: bold;
		}

		h4 {
			font-family: 'Calibri';
			margin: 0;
			margin-bottom: 5px;
			margin-top: 20px;
		}

		.anchorString {
			color: white;
		}

		small {
			font-size: 11px;
		}

		.text-center {
			text-align: center;
		}

		.italic {
			font-style: italic;
			font-size: 10pt;
			font-family: 'Calibri';
		}

		table {
			border-collapse: collapse;
		}

		table th {
			text-align: left;
		}

		table td.blank {
			background: #daeef3
		}

		.table td {
			padding: 5px;
			border: 1px solid #333;
		}

		.table-nobrdr td {
			padding: 5px;
			border: 0;
			text-align: justify
		}

		.table-fileds td {
			padding: 5px;
			padding-top: 15px;
			padding-bottom: 0
		}

		.table-fileds td.brdr-btm {
			border-bottom: 1px solid #333;
		}

		.contianer {
			margin: 30px auto;
			max-width: 800px;
			width: 100%;
		}

		.onbehalf {
			text-align: right;
			margin-top: 40px;
		}

		.onbehalf small {
			font-size: 10px;
			color: #777;
		}

		.pagebreak {
			page-break-after: always;
			min-height: 70px;
		}

		.onbehalf span {
			display: inline-block;
			width: 150px
		}
	</style>
</head>

<body>
	<div class='contianer'>
		<div class='text-center'>
			<img src='{{Logo}}'>
		</div>
		<h3 class='text-center'>FUTURE RECEIPTS SALE AGREEMENT</h3>
		<span class='italic'>Date:
			<span class='anchorString'>SIGNED_DATE1</span>
			<br> This Future Receipts Sale Agreement is entered into as of April 25th, 2018 by and between Lendfoundry Capital (together
with its successors and/or assigns, “Purchaser”) and Business (as defined below).</span>
		<br>
		<h4>BUSINESS INFORMATION</h4>
		<table width='100%' class='table'>
			<tr>
				<td width='40%'>
					<strong>Company Name:</strong>
				</td>
				<td width='60%' class='blank'>{{MerchantLegalName}}</td>
			</tr>
			<tr>
				<td>
					<strong>DBA Name:</strong>
				</td>
				<td class='blank'>{{DbaName}}</td>
			</tr>
			<tr>
				<td>
					<strong>Physical Address:</strong>
				</td>
				<td class='blank'>{{PhysicalAdd}}</td>
			</tr>
			<tr>
				<td>
					<strong>Type of Entity:</strong>
				</td>
				<td class='blank'>{{EntityType}}</td>
			</tr>
			<tr>
				<td>
					<strong>[Fed ID/SSN:] </strong>
				</td>
				<td class='blank'>{{SSN}}</td>
			</tr>
			<tr>
				<td>
					<strong>State Organized or Incorporated:</strong>
				</td>
				<td class='blank'>{{State}}</td>
			</tr>
		</table>
		<h4>OWNER(S) INFORMATION</h4>
		<table width='100%' class='table'>{{#each OwnerList}}
			<tr>
				<td width='40%'>
					<strong>Name of Owner ({{id}}):</strong>
				</td>
				<td width='60%' class='blank'>{{OwnerName}}</td>
			</tr>
			<tr>
				<td>
					<strong>Address:</strong>
				</td>
				<td class='blank'>{{OwnerAdd}}</td>
			</tr>{{/each}}</table>
		<h4>Loan Details</h4>
		<table width='100%' class='table'>
			<tr>
				<td width='40%' align='center'>
					<strong>Funding Amount</strong>
				</td>
				<td width='60%' class='blank'>{{FundingAmount}}</td>
			</tr>
			<tr>
				<td align='center'>
					<strong>Monthly Percentage</strong>
				</td>				
				<td class='blank'>{{MonthlyPercentage}}</td>
			</tr>
			<tr>
				<td align='center'>
					<strong>{{Frequency}} Amount</strong>
				</td>				
				<td class='blank'>{{DailyAmount}}</td>
			</tr>
			<tr>
				<td align='center'>
					<strong>Total Payback Amount</strong>
				</td>
				<td class='blank'>{{TotalPayback}}</td>
			</tr>
			<tr>
				<td align='center'>
					<strong>Processing Fee</strong>
				</td>
				<td class='blank'>{{ProcessingFee}}</td>
			</tr>
			<tr>
				<td align='center'>
					<strong>Late Payment Charges(If Applicable)</strong>
				</td>
				<td class='blank'>{{Disbursment}}</td>
			</tr>
		</table>
		
		
		<div class='pagebreak'></div>
		<div class='text-center'>
			<img src='{{Logo}}'>
		</div>
		<h3 class='text-center'>TERMS AND CONDITIONS</h3>
		<br>
		<p><strong>NOW, THEREFORE,</strong>in consideration of the mutual covenants and promises made by the parties hereto, the Borrower and the Lender (individually, each a 'Party' and collectively, the 'Parties') covenant and agree as follows</p>
		
					<p>
						<strong>1. &nbsp;&nbsp ARTICLE I. LOAN ACKNOWLEDGEMENT.</strong> The Borrower agrees and acknowledges that they owe the Lender an amount of money equal to the Loan as defined above. Nothing in this Agreement is a waiver of any other amounts owed and in the event of any breach of this Agreement by the Borrower, the Lender's rights to the Loan shall not be limited. </p>
					<p>
						<strong>2. &nbsp;&nbsp  The Borrower hereby represents and warrants</strong>  that this Agreement and the payment plan herein have been developed in a manner that the Borrower reasonably believes they can pay the Lender without further interruption notwithstanding an additional change in circumstances. </p>
					<p>
						<strong>3. &nbsp;&nbsp  ARTICLE IV. METHOD OF PAYMENT</strong>. Payments shall be made to the Lender in accordance with the Plan via Cash. The Borrower will make payments using this method unless prior written approval from the Lender allows otherwise.Fees and Damages. </p>
					<p>
						<strong>4. &nbsp;&nbsp  ARTICLE VI. LATE FEES</strong>.  If Lender has not received full amount of any installment payment from the Borrower within 1.50 (one point fifty) calendar days after the date it is due, Lender may assess a late charge to Borrower of $ 35 of the total loan for each day the payment remains outstanding until the Borrower makes the required payment or the Lender agrees in writing to cease charging a late fee.

                   </p>
					<p>
						<strong>5. &nbsp;&nbsp  ARTICLE VII. DEFAULT</strong>.  The following events constitute default of this Loan Agreement and upon their occurrence, the entirety of any remaining amount due shall become immediately payable:

                   </p>
				
					<p>a) Borrower's failure to pay the Principal Sum or any accrued interest when such payments are due; </br>
					b) Borrower's insolvency; </br>
					c) Borrower's death, incompetency; liquidation, or dissolution;</br>
					d) Borrower's making of a general assignment for the benefit of Borrower's creditors;</br>
					e) Borrower's filing of any bankruptcy proceedings;</br>
					f) Any application for the appointment of a receiver for Borrower; or</br>
					g) Borrower's misrepresentation to Lender for the purposes of obtaining this Loan Agreement financial and banking affairs within five (5) days of a request by Purchaser; and (xvi) Merchant will permit Purchaser to conduct a site inspection of Merchant’s business, including an inspection of Merchant’s credit card terminals, at any reasonable time during the term of this Agreement without Notice to Merchant. Merchant also represents, warrants and covenants that as of the date of this Agreement, Merchant is not contemplating the filing of a bankruptcy proceeding, closing Merchant’s business, winding down Merchant’s business operations, or selling Merchant’s business. </p>
					<p>
						<strong>6.&nbsp;&nbsp ARTICLE VIII. COLLECTION COSTS</strong>.Should the Borrower default on completing any obligation contained within this Loan Agreement, including, but not limited to, if any of the circumstances in the Default provision occur, the Lender may declare the entire amount remaining due immediately. Any and all costs or expenses incurred by the Lender in enforcing the obligations of this Loan Agreement as a result of Buyer's default, including any legal fees or costs, will be added to the remaining amount due and must be paid immediately by the Borrower.
                   </p>
				   <p>
						<strong>EACH PARTY ACKNOWLEDGES THAT THEY HAVE READ, AGREE AND UNDERSTAND THE AGREEMENT AND SHALL BE OBLIGATED UPON EXECUTION OF THE AGREEMENT TO ALL OF THE FOREGOING TERMS AND CONDITIONS INCLUDING SECTION 13 ARBITRATION OF DISPUTES AND CLAIMS, SECTION 14 COVENANT NOT TO SUE, SECTION 24 WAIVER OF JURY TRIAL, SECTION 25 WAIVER OF PUNITIVE DAMAGES AND SECTION 26 WAIVER OF CLASS ACTION AND OTHER ADDITIONAL TERMS SET FORTH ON PAGES 1-6 HEREIN AND THE AUTHORIZATION AGREEMENT FOR DIRECT DEPOSITS (ACH CREDITS) AND DIRECT PAYMENTS (ACH DEBITS) AND ANY OTHER EXHIBITS, ADDENDUMS OR SCHEDULES THAT MAY BE ADDED OR ATTACHED HERETO.</strong>
                   </p>	
                   <p>The person executing this Agreement on behalf of Merchant warrants and represents that he/she is authorized to bind Merchant to all of the terms and conditions set forth in this Agreement and that all of the information provided herein is true and accurate in all respects. Purchaser’s payment of the Purchase Price shall be deemed Purchaser’s acceptance of this Agreement, notwithstanding Purchaser’s failure to sign this Agreement.</p>				   
								   
				
		
		<div class='pagebreak'></div>
		<div class='text-center'>
			<img src='{{Logo}}'>
		</div>
		
					<p>ANY MISREPRESENTATION MADE BY BUSINESS OR ANY BUSINESS OWNER IN CONNECTION WITH THIS AGREEMENT MAY CONSTITUTE FRAUD OR INTENTIONAL MISREPRESENTATION.
					</p>							
		
		<table width='100%' class='table-nobrdr'>
			<tr valign='top'>
				<th width='48%'>Lendfoundry Capital</th>
				<th width='4%'>&nbsp;</th>
				<th width='48%'>Business Details</th>
			</tr>
			<tr valign='top'>
				<td>
					<table width='100%' class='table-fileds'>
						<tr>
							<td width='12%'>Signature: </td>
							<td class='anchorString'>LENDFOUNDRY_SIGNATURE</td>
						</tr>
						<tr>
							<td>Name:</td>
							<td class='brdr-btm'>{{LenderName}}</td>
						</tr>
						<tr>
							<td>Title:</td>
							<td class='brdr-btm'>Lender</td>
						</tr>
						<tr>
							<td>Date:</td>
							<td class='anchorString'>DateSignedLender</td>
						</tr>
					</table>
				</td>
				<td/>
				<td>
					<table width='100%' class='table-fileds'>
						<tr>
							<td width='12%'>Signature: </td>
							<td class='anchorString'>MERCHANTSIGNATURE</td>
						</tr>
						<tr>
							<td>Name:</td>
							<td class='brdr-btm'>{{OwnerList.0.OwnerName}}</td>
						</tr>
						<tr>
							<td>Title:</td>
							<td class='brdr-btm'>{{Title}}</td>
						</tr>
						<tr>
							<td>Date:</td>
							<td class='anchorString'>SIGNED_DATE1</td>
						</tr>
					</table>{{#each OwnerList}}
					<p>
						<strong>Owner {{id}} (individually)</strong>
					</p>
					<table width='100%' class='table-fileds'>
						<tr>
							<td width='12%'>Signature: </td>
							<td class='anchorString'>SIGNATUREOWNER{{id}}</td>
						</tr>
						<tr>
							<td>Name:</td>
							<td class='brdr-btm'>{{OwnerName}}</td>
						</tr>
						<tr>
							<td>Title:</td>
							<td class='brdr-btm'>Owner</td>
						</tr>
						<tr>
							<td>Date:</td>
							<td class='anchorString'>SIGNED_DATE{{id}}</td>
						</tr>
					</table>{{/each}}</td>
			</tr>
		</table>	
		</br>	</br>	</br></br></br>
		<h3 class='text-center'>AUTHORIZATION AGREEMENT FOR DIRECT DEPOSIT
			<br>(ACH CREDITS) AND DIRECT PAYMENTS (ACH DEBITS)</h3>
		<p>This Authorization Agreement for Direct Deposits (ACH Credits) and Direct Payments (ACH Debits) is part of (and incorporated
			by reference into) the Future Receipts Sale Agreement (the “Agreement”). Merchant should keep this important legal document
			for Merchant’s records.</p>	
	
</body>

</html>