<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Fast Capital 360</title>
</head>

<body>
    <div style='margin:0px auto; padding:0px; width:650px; background:#fff; color:#6c6c71; font-size:16px; font-family:Arial, sans-serif;'>
        <div style='width:600px; background:#fff; border:solid 10px #bcbcbf; padding:25px 25px 10px 25px; float:left;'>
            <div style='text-align:center; margin:10px 0px 20px 0px;'>
                <a href='#'>
                    <img src='{{Logo}}' alt='Sigma' border='0' />
                </a>
            </div>
            <p>3.Template for email for LF should send an information to Borrower asking them to login their bank account and
                accept T&C's</p>
            <br>
            <p style='width:100%; float:left; margin:15px 0px 0px 0px;'>Thanks,</br>Sigma</p>
        </div>
    </div>
</body>

</html>