<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title>Statement Creation</title>
</head>

<body>Dear {{BorrowerName}},<br /><br />Please find attached statement of your account as on {{StatementAccountDate}}<br /><br />Loan
  Number: {{EntityId}}<br /><br />Regards,<br />{{tenantConfiguration.name}}</body>

</html>