<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title>Borrower Invite</title>
</head>

<body>Hi {{BorrowerName}},<br /><br />It is my great pleasure to welcome you to the Mintifi Financial Family. <br /><br />
  <p>Your username is {{Email}}.  You can access your account at any time to review your portfolio, loan schedule, upcoming payments, outstanding balance and more.</p><br/><br/>
  The link below will redirect you to access your account by setting your password.<br/><br/>
   {{PortalUrl}}<br /><br />Best Regards,<br />Mintifi Team</body>

</html>




 



 

