<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Untitled Document</title>

    <style type='text/css'>
        body {
            font-family: 'Fira Sans Condensed', sans-serif !important;
        }

        p {
            font-size: 15px;
            color: #666666;
            line-height: 1.66em;
            text-align: justify;
            margin: 0px;
        }

        span {
            font-size: 15px;
            color: #666666;
            line-height: 1.66em;
        }

        td {
            border: 1px solid #ccc;
            height: 25px;
        }
    </style>
</head>

<body>
    <div style='width:960px; margin: 0px auto;'>
        <img style='text-align:center; display:block; margin:0px auto 20px' src='{{Logo}}' alt='logo'>
        <p style='text-align: center; '>
            <strong> SUPPLEMENTAL PURCHASE OF RECEIVABLES AGREEMENT</strong>
        </p>
        <p style='margin-bottom:20px;'>
            This Supplemental Purchase of Receivables Agreement (“Supplement”) supplements the Purchase of Receivables Agreement by and
            among the undersigned Merchant,
            <a name='_Hlk487206467'>
                the Principals of the Merchant party thereto, and Lendfoundry, LLC
            </a>
            dated 00/00/00 (the “Original Agreement”). This Supplemental Purchase of Receivables Agreement does supplement any other
            Addendums between the Principals of the Merchant party and Lendfoundry, LLC other than the above mentioned “Original
            Agreement.” Capitalized terms used but not defined herein have the meaning given to them in the Original Agreement.
            In connection with the Original Agreement, Lendfoundry, the Merchant and the Principal(s) [confirm the same principals
            are signing each document] may have entered into one or more Supplemental Purchase of Receivables Agreements(s)
            prior to the date hereof (collectively, the “Prior Supplements”). Pursuant to the terms of this Supplement, Lendfoundry
            purchases from Merchant for the purchase price specified below (the “Additional Purchase Price”), and Merchant
            sells to Lendfoundry, additional Receivables in the amount specified herein (the “Additional Purchase Amount”).Commencing
            upon delivery to Lendfoundry in full of the Purchase Amount under the Original Agreement and all Additional Purchase
            Amounts (as defined in the applicable Prior Supplements) under the Prior Supplements (if any), Merchant promises
            to deliver to Lendfoundry the Additional Purchase Amount by delivering to Lendfoundry the amount of Receivables
            each business day/week set forth below (the “Per Business Day/Week Amount”) until the entire Additional Purchase
            Amount has been delivered to Lendfoundry. Merchant shall deliver the Per Business Day/Week Amount to Lendfoundry
            by authorizing Lendfoundry to debit the Account. Except as expressly supplemented herein, the Original Agreement,
            the Prior Supplements and all other documents executed in connection therewith (including, but not limited to,
            the Processing Order) are hereby ratified in their entirety and shall remain in full force and effect in accordance
            with their terms and shall govern the purchase of the Additional Purchase Amount under this Supplement. For the
            avoidance of doubt: (i) the Additional Purchase Amount, the Per Business Day/Week Amount listed in this Supplement
            relate solely to the Additional Purchase Price listen in this Supplement, and does not, replace, supersede or
            amend such defined terms in the Original Agreement or any of the Prior Supplements; and (ii) pursuant to the
            terms and conditions set forth in the Original Agreement.
        </p>
        <p style='margin-bottom:20px;'>
            <b> By this letter, we mutually agree to the following modifications to the terms of the above noted Purchase of
                Receivables Agreement for this Purchase of Receivables Agreement between Lendfoundry, LLC and {{MerchantLegalName}}
                dated 00/00/00.</b>
        </p>
        <p style='margin-bottom:20px;'>
            1. The parties agree to modify the Purchase of Receivables Amount from $0000.00 to $0000.00 effective upon receipt of additional
            funding.
        </p>
        <p style='margin-bottom:20px;'>
            2. The parties agree that the receivables Lendfoundry LLC has purchased will be delivered through {{Frequency}} ACH bank
            Account debits in the amount of ${{FundingAmount}} every Specified Day of Week/Business Day until all purchased
            receivables and any other sums due have been received by Lendfoundry.
        </p>
        <table width='960px'>
            <tbody>
                <tr>
                    <td colspan='4' valign='top' width='960'>
                        <p>
                            These revised terms are only valid while our agreement is in good standing, and all other terms and conditions are satisfied.
                        </p>
                        <p>
                            <strong>SUBJECT TO THE TERMS AND CONDITIONS OF THE ORIGINAL AGREEMENT WHICH ARE PART OF THIS SUPPLIMENTAL
                                AGREEMENT.
                            </strong>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td valign='top' width='149'>
                        <p>
                            <strong>Current Balance</strong>
                            <td width='25%' class='bg'>
                                <span class='price'>{{PrevOutstanding}}</span>
                            </td>
                        </p>
                    </td>
                    <td valign='top' width='209'>
                    </td>
                    <td valign='top' width='168'>
                        <p>
                            <strong> New Purchase Price</strong>
                            <span class='price'>{{TotalOutstanding}}</span>
                        </p>
                    </td>

                    <td valign='top' width='198'>
                    </td>
                </tr>
                <tr>
                    <td valign='top' width='149'>
                    </td>
                    <td valign='top' width='209'>
                    </td>
                    <td valign='top' width='168'>
                    </td>
                    <td valign='top' width='198'>
                    </td>
                </tr>
                <tr>
                    <td valign='top' width='149'>
                        <p>
                            <strong> Additional Purchase Price</strong>
                        </p>
                    </td>
                    <td valign='top' width='209'>
                        <span class='price'>{{DrawdownAmount}}</span>
                    </td>
                    <td valign='top' width='168'>
                        <p>
                            <strong>New Per Day/Week Amount</strong>Amount
                        </p>
                    </td>
                    <td valign='top' width='198'>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width='960'>
            <tbody>
                <tr>
                    <td valign='top' width='147'>
                        <p>
                            <strong> Payment</strong>
                        </p>
                    </td>
                    <td valign='top' width='147'>
                        <p>
                            <strong> Month 1-2</strong>
                        </p>
                    </td>
                    <td valign='top' width='137'>
                        <p>
                            <strong>Month 3-6</strong>
                        </p>
                    </td>
                    <td valign='top' width='138'>
                        <p>
                            <strong> New Payback Amount</strong>
                        </p>
                    </td>
                    <td valign='top' width='156'>
                        <span class='price'>{{TotalPaybackAmount}}</span>
                    </td>
                </tr>
                <tr>
                    <td valign='top' width='147'>
                        <p>
                            <strong> Daily/Weekly</strong>
                        </p>
                    </td>
                    <td>
                        <span class='red'>{{Frequency}}</span>
                    </td>
                    <td valign='top' width='147'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='137'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='138'>
                    </td>
                    <td valign='top' width='156'>
                    </td>
                </tr>
                <tr>
                    <td valign='top' width='147'>
                    </td>
                    <td valign='top' width='147'>
                    </td>
                    <td valign='top' width='137'>
                    </td>
                    <td valign='top' width='138'>
                    </td>
                    <td valign='top' width='156'>
                    </td>
                </tr>
                <tr>
                    <td valign='top' width='147'>
                    </td>
                    <td valign='top' width='147'>
                        <p>
                            <strong>Principle</strong>
                        </p>
                    </td>
                    <td valign='top' width='137'>
                        <p>
                            <strong>Finance Fee</strong>
                        </p>
                    </td>
                    <td valign='top' width='138'>
                        <p>
                            <strong>Total Payment</strong>
                        </p>
                    </td>
                    <td valign='top' width='156'>
                        <p>
                            <strong>Total Payback</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign='top' width='147'>
                        <p>
                            <strong> Month 1</strong>
                        </p>
                    </td>
                    <td valign='top' width='147'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='137'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='138'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='156'>
                        <p>
                            $
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign='top' width='147'>
                        <p>
                            <strong>Month 2</strong>
                        </p>
                    </td>
                    <td valign='top' width='147'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='137'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='138'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='156'>
                        <p>
                            $
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign='top' width='147'>
                        <p>
                            <strong> Month 3</strong>
                        </p>
                    </td>
                    <td valign='top' width='147'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='137'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='138'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='156'>
                        <p>
                            $
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign='top' width='147'>
                        <p>
                            <strong>Month 4</strong>
                        </p>
                    </td>
                    <td valign='top' width='147'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='137'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='138'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='156'>
                        <p>
                            $
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign='top' width='147'>
                        <p>
                            <strong> Month 5</strong>
                        </p>
                    </td>
                    <td valign='top' width='147'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='137'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='138'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='156'>
                        <p>
                            $
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign='top' width='147'>
                        <p>
                            <strong> Month 6</strong>
                        </p>
                    </td>
                    <td valign='top' width='147'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='137'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='138'>
                        <p>
                            $
                        </p>
                    </td>
                    <td valign='top' width='156'>
                        <p>
                            $
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign='top' width='147'>
                    </td>
                    <td valign='top' width='147'>
                    </td>
                    <td valign='top' width='137'>
                    </td>
                    <td valign='top' width='138'>
                    </td>
                    <td valign='top' width='156'>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style='width:960px;margin-bottom:15px;'>
            <tbody>
                <tr>
                    <td valign='top' width='144'>
                        <p>
                            <strong>Professional Service Fee</strong>
                        </p>
                    </td>
                    <td valign='top' width='156'>
                        <p>
                            ${{ProcessingFee}}
                        </p>
                    </td>
                    <td valign='top' width='132'>
                        <p>
                            <strong> Disbursement Amount</strong>
                        </p>
                    </td>
                    <td valign='top' width='168'>
                        <p>
                            ${{Disbursement}}
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style='margin-bottom:15px;'>
            Merchant and the undersigned Principal(s) hereby certify that, as of the date hereof, the information given in Merchant’s
            Application in connection with the Original Agreement and for any Prior Supplements, and the representations,
            warranties, and covenants contained in the Original Agreement and any Prior Supplements, except to the extent
            updated by the Merchant and or/Principals(s) to Lendfoundry in writing, is true and correct. Each undersigned
            Principal, in his or her individual capacity, unconditionally, absolutely and irrevocably, jointly and severally,
            reaffirms its guarantee under the Original Agreement and any Prior Supplements. In the event of a Structural
            Default, each of the undersigned Principal(s) unconditionally, absolutely and irrevocably, jointly and severally,
            shall be liable to Lendfoundry for damages equal to this amount by which the Additional Purchase Amount exceeds
            the Receivables previously delivered to Lendfoundry pursuant to this Supplement, and shall be liable for amounts
            Lendfoundry is entitled to receive pursuant to the Original Agreement’s Terms and Conditions.
        </p>
        <p>
            MERCHANT PRINCIPAL
        </p>
        <table width='70%' class='table-fileds'>
            <tr>
                <td width='30%'>Bank Portal Website:</td>
                <td class='anchorString'>BANKPORTAL_WEBSITE</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td class='anchorString'>USERNAME</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td class='anchorString'>PASSWORD</td>
            </tr>
        </table>
        <table width='70%' class='table-fileds'>
            <tr>
                <td width='34%'>Security Question/Answer 1:</td>
                <td class='anchorString'>SECURITY_QUESTION_1</td>
            </tr>
            <tr>
                <td>Security Question/Answer 2:</td>
                <td class='anchorString'>SECURITY_QUESTION_2</td>
            </tr>
            <tr>
                <td>Security Question/Answer 3:</td>
                <td class='anchorString'>SECURITY_QUESTION_3</td>
            </tr>
        </table>
        <table width='70%' class='table-fileds'>
            <tr>
                <td width='76%'>Any other information necessary to access your Approved Account:</td>
                <td class='anchorString'>OTHER_AUTH_INFO</td>
            </tr>
        </table>
        <br>
        <br>

        <h3 class='text-center'>AUTHORIZATION TO ACCESS BANK ACCOUNT INFORMATION</h3>
        <p>This Authorization to Access Bank Account is part of (and incorporated by reference into) the Future Receipts/Receivables
            Sale Agreement (the “Agreement”). Merchant should keep this important legal document for Merchant’s records.
            By signing below, Merchant authorizes Buyer to view information on Merchant’s bank account (the “Approved Account”)
            to (i) confirm the information that Merchant provided to Buyer on the Approved Account and determine whether
            the Approved Account is in good standing prior to releasing funds to Merchant in connection with the purchase
            and sale transaction and (ii) otherwise administer the purchase and sale transaction in accordance with the Agreement.
            Please be assured that Buyer will carefully safeguard Merchant’s confidential Approved Account information and
            only essential personnel will have access to it.</p>

        <p>The below fee structure applies to the Approved Account (see your Agreement for details):
            <br> A. Returned Item Fee - $35
            <br> B. Rejected ACH Fee - $100
            <br> C. Blocked Account Damages - Up to $2,500 or 25% of the Amount Sold, whichever is greater
            <br> D. Bank Change Damages - $50
            <br> E. Stacking Damages - Up to $2,500 or 25% of the Amount Sold, whichever is greater</p>
        <p>Merchant (Business):</p>

        <table width='40%' class='table-fileds'>
            <tr>
                <td width='12%'>Signature: </td>
                <td class='anchorString'>AUTHSIGNATURE</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td class='brdr-btm'>{{Owner1Name}}</td>
            </tr>
            <tr>
                <td>Title:</td>
                <td class='brdr-btm'>Owner</td>
            </tr>
            <tr>
                <td>Date:</td>
                <td class='anchorString'>SIGNED_DATE1</td>
            </tr>
        </table>

    </div>
</body>

</html>