<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <title>LendFoundry Demo Tenant</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        .container {
            width: 1000px;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .row {
            margin-right: -15px;
            margin-left: -15px;
            page-break-inside: avoid !important;
        }

        section {
            margin: 0px 0px 50px;
            padding: 10px 15px;
            height: auto;
            width: 100%;
            float: left;
            border: 1px solid#124887;
        }

        .logo {
            text-align: center;
            margin: 30px 0px;
        }

        .no-pad {
            padding: 0px;
        }

        .add-pad {
            padding: 10px !important;
        }

        .comman_header {
            margin: 15px 0px;
            padding: 10px 10px;
            height: auto;
            width: 100%;
            float: left;
            font-size: 17px;
            font-weight: bold;
            color: #124887 !important;
            line-height: 1.1;
        }

        .form_section {
            margin: 0px;
            padding: 0px 0px 0px 80px;
            height: auto;
            width: 100%;
            float: left;
        }

        .form-group {
            margin-bottom: 0px;
        }

        .customtable td {
            font-size: 13px;
            font-weight: normal;
            color: #000;
            padding-top: 7px;
        }

        .customtable td.equalTD {
            width: 20%;
            text-align: center;
        }

        .customtable td.moneyTD {
            text-align: right;
            padding-right: 42px;
            width: 20%;
        }

        .customtable td.moneyTDRecurring {
            text-align: right;
            padding-right: 74px;
            width: 25%;
        }

        .customtable td.moneyTDTrans {
            text-align: right;
            padding-right: 100px;
            width: 20%;
        }

        .customtable td.bold {
            font-weight: bold;
            color: #124887;
        }

        .customtable th {
            font-size: 13px;
            font-weight: bold;
            color: #124887;
            padding-top: 7px;
            width: 20%;
            font-color: #124887;
            text-align: center;
        }

        .footer {
            text-align: right;
            padding-top: 20px;
            padding-right: 40px;
            font-size: 13px;
            color: #124887;
        }
    </style>
</head>

<body>
    <div class='container'>
        <div class='row'>
            <div class='logo'><img src='{{Logo}}' /></div>
        </div>
        <section>
            <div style='text-align:center;'>
                <h3 class='comman_header'>Cash flow Summary</h3>
            </div>
            <div class='row'>
                <h3 class='comman_header'>Account Details</h3>
                <div class='col-lg-6'>
                    <div class='form_section'>
                        <table class='customtable' style='width:80%;' cellpadding='20' cellspacing='13'>
                            <tr>
                                <td align='left'>
                                    <table>
                                        <tr>
                                            <td class='bold'>Application Number:</td>
                                            <td>&nbsp;</td>
                                            <td>{{CashflowAccountSection.LoanNumber}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Account Number:</td>
                                            <td>&nbsp;</td>
                                            <td>{{CashflowAccountSection.AccountNumber}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Institution Name:</td>
                                            <td>&nbsp;</td>
                                            <td>{{CashflowAccountSection.InstitutionName}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td align='right'>
                                    <table>
                                        <tr>
                                            <td class='bold'>Name On Account:</td>
                                            <td>&nbsp;</td>
                                            <td>{{CashflowAccountSection.AccountHolderName}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Account Type:</td>
                                            <td>&nbsp;</td>
                                            <td>{{CashflowAccountSection.AccountType}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Email:</td>
                                            <td>&nbsp;</td>
                                            <td>{{CashflowAccountSection.Email}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class='row  '>
                <h3 class='comman_header'>Summary</h3>
                <div class='col-lg-6'>
                    <div class='form_section'>
                        <table class='customtable' style='width:80%;' cellpadding='20' cellspacing='13'>
                            <tr>
                                <td align='left'>
                                    <table>
                                        <tr>
                                            <td class='bold'>Total Monthly Statement:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.CountOfMonthlyStatement}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Start Date:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.StartDate}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Average Daily Balance:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.AverageDailyBalance}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Average Deposit:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.AverageDeposit}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Number of Negative Balance:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.NumberOfNegativeBalance}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Deposits/Credits:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.TotalCredits}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Total Deposits/Credits:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.TotalCreditsCount}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Current Balance:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.CurrentBalance}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Max Days Below $100:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.MaxDaysBelow100Count}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>CV Of Daily Balance:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.MedianDailyBalance}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Median Daily Balance:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.MedianDailyBalance}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td align='right'>
                                    <table>
                                        <tr>
                                            <td class='bold'>As of Date:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.AsOfDate}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>End Date:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.EndDate}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Avg Bal Latest Month:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.AverageBalanceLastMonth}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Average Withdrawal:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.AverageWithdrawal}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Change in Deposit Volume:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.ChangeInDepositVolume}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Withdrawals/Debits:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.TotalDebits}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Total Withdrawals/Debits:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.TotalDebitsCount}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Available Balance:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.AvailableBalance}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>CV Of Daily Deposit:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.CVOfDailyDeposit}}</td>
                                        </tr>
                                        <tr>
                                            <td class='bold'>Median Monthly Income:</td>
                                            <td>&nbsp;</td>
                                            <td>{{TransactionSummary.MedianMonthlyIncome}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div style='padding:50px;'>
                    <table class='customtable' cellpadding='0' cellspacing='0' width='100%' border='0'>
                        <thead>
                            <tr>
                                <th style='text-align:left;'>Category</th>
                                <th>Transactions</th>
                                <th>Transactions Total</th>
                                <th>Transactions Last Month</th>
                                <th>Total Last Month</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each CashflowCategorySummary}}
                            <tr>
                                <td class='equalTD' style='text-align:left;'>{{CategoryName}}</td>
                                <td class='equalTD'>{{TransactionCount}}</td>
                                <td class='moneyTD'>{{TransactionTotal}}</td>
                                <td class='equalTD'>{{LastMonthTransactionCount}}</td>
                                <td class='moneyTD'>{{LastMonthTransactionTotal}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{#if RecurringTransaction}}
            <div class='row'>
                <h3 class='comman_header'>Recurring Transactions</h3>
                <div style='padding:50px;'>
                    <table class='customtable' cellpadding='0' cellspacing='0' width='100%' border='0'>
                        <thead>
                            <tr>
                                <th>Rounding Amount</th>
                                <th>Total Transactions</th>
                                <th>Confidence Level</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each RecurringTransaction}}
                            <tr>
                                <td class='equalTD'>{{RoudingAmount}}</td>
                                <td class='equalTD'>{{TotalTransactions}}</td>
                                <td class='equalTD'>{{ConfidenceLevel}}</td>
                            </tr>
                            <tr>
                                <td colspan='4'>
                                    <hr />
                                </td>
                            </tr>
                            <tr>
                                <td colspan='4' align='center'>
                                    {{#if Transactions}}
                                    <table class='customtable' cellpadding='0' cellspacing='0' width='70%' border='0'>
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th style='text-align:left;'>Description</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each Transactions}}
                                            <tr>
                                                <td class='equalTD'>{{Date}}</td>
                                                <td class='equalTD' style='text-align:left;'>{{Description}}</td>
                                                <td class='moneyTDTrans'>{{Amount}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                    {{/if}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan='4'>
                                    <hr />
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{/if}}
            {{#if TransactionList}}
            <div class='row'>
                <h3 class='comman_header'>Transactions </h3>
                <div style='padding-left:10px;padding-right:10px;'>
                    <table class='customtable' cellpadding='0' cellspacing='0' width='100%' border='0'>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Transaction Type</th>
                                <th>Running Balance</th>
                                <th style='text-align:left;'>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each TransactionList}}
                            <tr>
                                <td class='equalTD'>{{Date}}</td>
                                <td class='moneyTDTrans'>{{Amount}}</td>
                                <td class='equalTD'>{{TransactionType}}</td>
                                <td class='moneyTDTrans'>{{RunningBalance}}</td>
                                <td class='equalTD' style='text-align:left;'>{{Description}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{/if}}
            {{#if PendingTransactionList}}
            <div class='row'>
                <h3 class='comman_header'>Pending Transactions </h3>
                <div style='padding-left:10px;padding-right:10px;'>
                    <table class='customtable' cellpadding='0' cellspacing='0' width='100%' border='0'>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Transaction Type</th>
                                <th>Running Balance</th>
                                <th style='text-align:left;'>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each PendingTransactionList}}
                            <tr>
                                <td class='equalTD'>{{Date}}</td>
                                <td class='moneyTDTrans'>{{Amount}}</td>
                                <td class='equalTD'>{{TransactionType}}</td>
                                <td class='moneyTDTrans'>{{RunningBalance}}</td>
                                <td class='equalTD' style='text-align:left;'>{{Description}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{/if}}
            <div class='row footer'></div>
        </section>
    </div>
</body>

</html>