﻿<html>

<head>
    <style type="text/css">
        html {
            font-family: sans-serif;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
    </style>
</head>

<body>
    <p>Hi {{Escalation.ToRole}},
        <p/>
        <p>
            <strong>{{Escalation.FromUser}}</strong> just escalated the {{Escalation.EntityType}} {{Escalation.EntityId}}
            to your role with the following notes:</p>
        <p>{{Escalation.RequestNotes}}</p>
</body>

</html>
$#{{Escalation.EntityType}}|{{Escalation.EntityId}}#$