<!doctype html>
<html>

<head>
	<meta charset='utf-8'>
	<title>Capital Alliance</title>
	<style>
		body {
			font-family: 'Open Sans', sans-serif;
		}

		.container {
			width: 1000px;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}

		.row {
			margin-right: -15px;
			margin-left: -15px;
			page-break-inside: avoid !important;
		}

		section {
			margin: 0px 0px 50px;
			padding: 10px 15px;
			height: auto;
			width: 100%;
			float: left;
			border: 1px solid#124887;
		}

		.logo {
			text-align: center;
			margin: 30px 0px;
		}

		.no-pad {
			padding: 0px;
		}

		.add-pad {
			padding: 10px!important;
		}

		.comman_header {
			margin: 15px 0px;
			padding: 10px 10px;
			height: auto;
			width: 100%;
			float: left;
			font-size: 17px;
			font-weight: bold;
			color: #124887!important;
			line-height: 1.1;
		}

		.form_section {
			margin: 0px;
			padding: 0px 0px 0px 80px;
			height: auto;
			width: 100%;
			float: left;
		}

		.form-group {
			margin-bottom: 0px;
		}

		.customtable td {
			font-size: 13px;
			font-weight: normal;
			color: #000;
			padding-top: 7px;
		}

		.customtable td.equalTD {
			width: 20%;
			text-align: center;
		}

		.customtable td.moneyTD {
			text-align: right;
			padding-right: 42px;
			width: 20%;
		}

		.customtable td.moneyTDRecurring {
			text-align: right;
			padding-right: 74px;
			width: 25%;
		}

		.customtable td.moneyTDTrans {
			text-align: right;
			padding-right: 100px;
			width: 20%;
		}

		.customtable td.bold {
			font-weight: bold;
			color: #124887;
		}

		.customtable th {
			font-size: 13px;
			font-weight: bold;
			color: #124887;
			padding-top: 7px;
			width: 20%;
			font-color: #124887;
			text-align: center;
		}

		.footer {
			text-align: right;
			padding-top: 20px;
			padding-right: 40px;
			font-size: 13px;
			color: #124887;
		}
		
		.logo img {
			max-height: 100px;
		}
		tr {
            page-break-inside: avoid;
        }
	</style>
</head>

<body>
	<div class='container'>
		<div class='row'>
			<div class='logo'>
				<img src='{{Logo}}' />
			</div>
		</div>
		<section>
			<div style='text-align:center;'>
				<h3 class='comman_header'>Cash flow Summary : {{MonthlySummary.Name}} - {{MonthlySummary.Year}}</h3>
			</div>
			<div class='row'>
				<h3 class='comman_header'>Account Details</h3>
				<div class='col-lg-6'>
					<div class='form_section'>
						<table class='customtable' style='width:80%;' cellpadding='20' cellspacing='13'>
							<tr>
								<td align='left'>
									<table>
										<tr>
											<td class='bold'>Loan Number:</td>
											<td>&nbsp;</td>
											<td>{{CashflowAccountSection.LoanNumber}}</td>
										</tr>
										<tr>
											<td class='bold'>Account Number:</td>
											<td>&nbsp;</td>
											<td>{{CashflowAccountSection.AccountNumber}}</td>
										</tr>
										<tr>
											<td class='bold'>Institution Name:</td>
											<td>&nbsp;</td>
											<td>{{CashflowAccountSection.InstitutionName}}</td>
										</tr>
									</table>
								</td>
								<td align='right'>
									<table>
										<tr>
											<td class='bold'>Name On Account:</td>
											<td>&nbsp;</td>
											<td>{{CashflowAccountSection.AccountHolderName}}</td>
										</tr>
										<tr>
											<td class='bold'>Account Type:</td>
											<td>&nbsp;</td>
											<td>{{CashflowAccountSection.AccountType}}</td>
										</tr>
										<tr>
											<td class='bold'>Email:</td>
											<td>&nbsp;</td>
											<td>{{CashflowAccountSection.Email}}</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class='row  '>
				<h3 class='comman_header'>Summary</h3>
				<div class='col-lg-6'>
					<div class='form_section'>
						<table class='customtable' style='width:80%;' cellpadding='20' cellspacing='13'>
							<tr>
								<td align='left'>
									<table>
										<tr>
											<td class='bold'>First Transaction Date:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.FirstTransactionDate}}</td>
										</tr>
										<tr>
											<td class='bold'>Average Daily Balance:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.AverageDailyBalance}}</td>
										</tr>
										<tr>
											<td class='bold'>Begining Balance:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.BeginingBalance}}</td>
										</tr>
										<tr>
											<td class='bold'>Number of Negative Days:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.NumberOfNegativeBalance}}</td>
										</tr>
										<tr>
											<td class='bold'>Total Deposit Amount:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.TotalDepositAmount}}</td>
										</tr>
										<tr>
											<td class='bold'>Total Deposit Count:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.DepositCount}}</td>
										</tr>
										<tr>
											<td class='bold'>Ending Balance:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.EndingBalance}}</td>
										</tr>
										<tr>
											<td class='bold'>NSF Count:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.NumberOfNSF}}</td>
										</tr>
										<tr>
											<td class='bold'>Payroll Amount:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.PayrollAmount}}</td>
										</tr>
										<tr>
											<td class='bold'>Loan Payment Count:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.NumberOfLoanPayment}}</td>
										</tr>
									</table>
								</td>
								<td align='right'>
									<table>
										<tr>
											<td class='bold'>End Transaction Date:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.EndTransactionDate}}</td>
										</tr>
										<tr>
											<td class='bold'>Loan Payment Amount:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.LoanPaymentAmount}}</td>
										</tr>
										<tr>
											<td class='bold'>Max Deposit:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.MaxDepositAmount}}</td>
										</tr>
										<tr>
											<td class='bold'>Max Withdrawal:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.MaxWithdrawalAmount}}</td>
										</tr>
										<tr>
											<td class='bold'>Min Deposit:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.MinDepositAmount}}</td>
										</tr>
										<tr>
											<td class='bold'>Min Withdrawal:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.MinWithdrawalAmount}}</td>
										</tr>
										<tr>
											<td class='bold'>Total Withdrawal Amount:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.TotalWithdrawalAmount}}</td>
										</tr>
										<tr>
											<td class='bold'>Total Withdrawal Count:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.WithdrawalCount}}</td>
										</tr>
										<tr>
											<td class='bold'>NSF Amount:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.NSFAmount}}</td>
										</tr>
										<tr>
											<td class='bold'>Payroll Count:</td>
											<td>&nbsp;</td>
											<td>{{MonthlySummary.NumberOfPayroll}}</td>
										</tr>
										<tr>
											<td colspan='3'>&nbsp;</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			{{#if TransactionList}}
			<div class='row'>
				<h3 class='comman_header'>Transactions </h3>
				<div style='padding-left:10px;padding-right:10px;'>
					<table class='customtable' cellpadding='0' cellspacing='0' width='100%' border='0'>
						<thead>
							<tr>
								<th>Date</th>
								<th>Amount</th>
								<th>Transaction Type</th>
								<th>Running Balance</th>
								<th style='text-align:left;'>Description</th>
							</tr>
						</thead>
						<tbody>
							{{#each TransactionList}}
							<tr>
								<td class='equalTD'>{{Date}}</td>
								<td class='moneyTDTrans'>{{Amount}}</td>
								<td class='equalTD'>{{TransactionType}}</td>
								<td class='moneyTDTrans'>{{RunningBalance}}</td>
								<td class='equalTD' style='text-align:left;'>{{Description}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
			{{/if}}
			<div class='row footer'>Powered By:Plaid</div>
		</section>
	</div>
</body>

</html>