<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <title>Statement Creation</title>
    <style>
        html,
        body {
            margin: 0;
            padding: 0
        }

        body {
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 20px
        }

        hr {
            color: #000;
            margin: 20px 0
        }

        p {
            margin: 0 0 20px 0;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif
        }

        span {
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            font-size: 12px
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif
        }

        h2 {
            margin: 0;
            font-size: 22px;
            line-height: 22px;
            font-weight: bold
        }

        h3 {
            border-bottom: 1px solid #999;
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
            margin: 0 0 10px 0;
            padding-bottom: 6px;
            display: inline-block;
            min-width: 200px
        }

        h4 {
            margin: 15px 0;
            font-size: 20px;
            line-height: 20px;
            font-weight: bold
        }

        h5 {
            margin: 20px 0 5px 0;
            font-size: 13px;
            line-height: 13px;
            text-decoration: underline;
            font-weight: normal
        }

        h6 {
            margin: 0;
            font-size: 13px;
            line-height: 13px;
            font-weight: bold
        }

        .pull-right {
            float: right
        }

        .text-center {
            text-align: center
        }

        .small {
            font-size: 12px;
            color: #999
        }

        .h-bar {
            border-top: 2px solid #666;
            margin-top: 20px;
            height: 30px
        }

        .container {
            width: 96%;
            margin: 30px auto;
            padding: 0 2%
        }

        .brdr {
            border: 2px solid #eee;
            padding: 30px
        }

        .border-left {
            border-left: 1px solid #666
        }

        .borderV {
            border-left: 1px solid #444
        }

        .header {
            background: #eee;
            padding: 15px;
            color: #000;
            margin-top: 20px
        }

        .today-date {
            float: right;
            margin-top: 5px
        }

        .address {
            height: 100px
        }

        table {
            width: 100%;
            border-collapse: collapse
        }

        table th,
        table td {
            padding: 5px 0
        }

        .statement-date {
            margin: 40px 0;
            background: #eee
        }

        .statement-date td {
            border: 1px solid #666;
            padding: 20px
        }

        .statement-date td span {
            font-weight: bold
        }

        .statement-det {
            margin: 40px 0
        }

        .statement-det td,
        .statement-det th {
            border: 1px solid #666;
            padding: 10px
        }

        .statement-det th {
            background: #eee;
            color: #000
        }

        .copyright {
            margin-top: 30px;
            text-decoration: underline;
            color: #333;
            text-align: center
        }
    </style>
</head>

<body>
    <div class='container' style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial, sans-serif;font-size:
        14px;line-height: 20px;'>
        <table width='100%'>
            <tr>
                <td width='50%'><img src='https://mintifi.blob.core.windows.net/mintifi-logo/mintifi-resized.png'
                        style='max-width:200px' alt='Logo'></td>
                <td valign='bottom' align='right'>
                    <h6 style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial, sans-serif;font-size:
                        13px;line-height: 13px;font-weight: bold'> Loan Account:</h6>
                    <LoanNumber>{{LoanNumber}}
                </td>
            </tr>
        </table>
        <div class='h-bar'></div>
        <h2 class='header' style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial, sans-serif;font-size:
            20px;line-height: 20px;'> Account Statement <span class='today-date'> <strong style='font-family: '
                    Helvetica Neue', 'Helvetica' , Helvetica, Arial, sans-serif;font-size: 12px;line-height:
                    12px;font-weight:bold;'>Date: {{CurrentDate}}</strong> </span></h2>
        <div class='brdr'>
            <table width='100%' class='border'>
                <tr valign='top'>
                    <td width='46%'>
                        <table width='100%'>
                            <tr>
                                <td colspan='2'>
                                    <h3 style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                                        sans-serif;font-size: 18px;line-height: 18px;'> Lender Details</h3>
                                </td>
                            </tr>
                            <tr>
                                <td width='45%' valign='top'>
                                    <h6 style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                                        sans-serif;font-size: 13px;line-height: 13px;font-weight: bold'>
                                        Registered Name:</h6>
                                </td>
                                <td width='55%' valign='top' style='font-family: ' Helvetica Neue', 'Helvetica' ,
                                    Helvetica, Arial, sans-serif;font-size: 14px;line-height: 14px;'>
                                    {{LenderName}}
                                </td>
                            </tr>
                            <tr>
                                <td width='45%' valign='top'>
                                    <h6 style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                                        sans-serif;font-size: 13px;line-height: 13px;font-weight: bold'>
                                        GSTIN:</h6>
                                </td>
                                <td width='55%' valign='top' style='font-family: ' Helvetica Neue', 'Helvetica' ,
                                    Helvetica, Arial, sans-serif;font-size: 14px;line-height: 14px;'>
                                    {{LenderGSTIN}}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width='4%'></td>
                    <td width='4%' class='borderV'></td>
                    <td width='46%'>
                        <table width='100%'>
                            <tr>
                                <td colspan='2'>
                                    <h3 style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                                        sans-serif;font-size: 18px;line-height: 18px;'> Borrower Details</h3>
                                </td>
                            </tr>
                            <tr>
                                <td width='45%' valign='top'>
                                    <h6 style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                                        sans-serif;font-size: 13px;line-height: 13px;font-weight: bold'>
                                        Registered Name:</h6>
                                </td>
                                <td width='55%' valign='top' style='font-family: ' Helvetica Neue', 'Helvetica' ,
                                    Helvetica, Arial, sans-serif;font-size: 14px;line-height: 14px;'>
                                    {{BorrowerName}}
                                </td>
                            </tr>
                            <tr>
                                <td valign='top'>
                                    <h6 style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                                        sans-serif;font-size: 13px;line-height: 13px;font-weight: bold'>
                                        Registered Address:</h6>
                                </td>
                                <td valign='top' class='address' style='font-family: ' Helvetica Neue', 'Helvetica' ,
                                    Helvetica, Arial, sans-serif;font-size: 14px;line-height: 14px;'>
                                    {{BorrowerAddress.AddressLine1}}<br>
                                    {{BorrowerAddress.AddressLine2}}<br> {{BorrowerAddress.City}} ,
                                    {{BorrowerAddress.Zip}},<br> {{BorrowerAddress.State}}
                                </td>
                            </tr>
                            <tr>
                                <td valign='top'>
                                    <h6 style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                                        sans-serif;font-size: 13px;line-height: 13px;font-weight: bold'> GSTIN:</h6>
                                    <span class='small' style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica,
                                        Arial, sans-serif;font-size: 12px;line-height: 12px;'>(if available, for India
                                        only)</span>
                                </td>
                                <td valign='top' style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                                    sans-serif;font-size: 14px;line-height: 14px;'>
                                    {{BorrowerGSTIN}}
                                </td>
                            </tr>
                            <tr>
                                <td valign='top'>
                                    <h6 style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                                        sans-serif;font-size: 13px;line-height: 13px;font-weight: bold'>
                                        Registered Email:</h6>
                                </td>
                                <td valign='top' style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                                    sans-serif;font-size: 14px;line-height: 14px;'>
                                    {{BorrowerEmail}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table width='100%' class='statement-date'>
                <tr>
                    <td width='50%' style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                        sans-serif;font-size: 14px;line-height: 14px'> Loan Statement Beginning Date: <Statement
                            BeginningDate> <span style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                                sans-serif;font-size: 14px;line-height: 14px'>{{StartDate}}</span></td>
                    <td style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial, sans-serif;font-size:
                        14px;line-height: 14px;'> Loan Statement Current Date:<Statement CurrentDate> <span
                                style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                                sans-serif;font-size: 14px;line-height: 14px'>{{EndDate}}</span></td>
                </tr>
            </table>
            <table class='statement-det'>
                <tr>
                    <th style='width:100px;word-wrap:break-word; font-family: ' Helvetica Neue', 'Helvetica' ,
                        Helvetica, Arial, sans-serif;font-size: 14px;line-height: 14px;font-weight:bold'>
                        Transaction<br>Date</th>
                    <th style='width:140px;word-wrap:break-word;font-family: ' Helvetica Neue', 'Helvetica' , Helvetica,
                        Arial, sans-serif;font-size: 14px;line-height: 14px;font-weight:bold'>Particulars</th>
                    <th style='width:100px;word-wrap:break-word;font-family: ' Helvetica Neue', 'Helvetica' , Helvetica,
                        Arial, sans-serif;font-size: 14px;line-height: 14px;font-weight:bold'>Total</th>
                    <th style='width:100px;word-wrap:break-word;font-family: ' Helvetica Neue', 'Helvetica' , Helvetica,
                        Arial, sans-serif;font-size: 14px;line-height: 14px;font-weight:bold'>Principal</th>
                    <th style='width:100px;word-wrap:break-word;font-family: ' Helvetica Neue', 'Helvetica' , Helvetica,
                        Arial, sans-serif;font-size: 14px;line-height: 14px;font-weight:bold'>Fin or Int<br>Charges</th>
                    <th style='width:100px;font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                        sans-serif;font-size: 14px;line-height: 14px;font-weight:bold'> Fees<br>*incl tax</th>
                </tr> {{#each TransactionList}}<tr>
                    <td style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial, sans-serif;font-size:
                        14px;line-height: 14px;'> {{TransactionDate}}</td>
                    <td style='word-wrap:break-word;font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                        sans-serif;font-size: 14px;line-height: 14px;'>{{Description}}</td>
                    <td style='text-align: right;word-wrap:break-word;font-family: ' Helvetica Neue', 'Helvetica' ,
                        Helvetica, Arial, sans-serif;font-size: 14px;line-height: 14px;'>{{Amount}}</td>
                    <td style='text-align: right;word-wrap:break-word;font-family: ' Helvetica Neue', 'Helvetica' ,
                        Helvetica, Arial, sans-serif;font-size: 14px;line-height: 14px;'>{{Principal}}</td>
                    <td style='text-align: right;word-wrap:break-word;font-family: ' Helvetica Neue', 'Helvetica' ,
                        Helvetica, Arial, sans-serif;font-size: 14px;line-height: 14px;'>{{Interest}}</td>
                    <td style='text-align: right;font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                        sans-serif;font-size: 14px;line-height: 14px;'>{{Fee}}</td>
                </tr> {{/each}}<tr>
                    <td style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial, sans-serif;font-size:
                        14px;line-height: 14px;' colspan='2'> <b>Balance as of Current Date</b></td>
                    <td style='text-align: right;font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                        sans-serif;font-size: 14px;line-height: 14px;'>{{Total}}</td>
                    <td style='text-align: right;font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                        sans-serif;font-size: 14px;line-height: 14px;'>{{TotalPrincipal}}</td>
                    <td style='text-align: right;font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                        sans-serif;font-size: 14px;line-height: 14px;'>{{TotalInterest}}</td>
                    <td style='text-align: right;font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
                        sans-serif;font-size: 14px;line-height: 14px;'>{{TotalFee}}</td>
                </tr>
            </table>
        </div>
        <div class='copyright' style='font-family: ' Helvetica Neue', 'Helvetica' , Helvetica, Arial,
            sans-serif;font-size: 12px;line-height: 12px;'> Registered Office - IIFL 12A-10, 13th floor, Parinee
            Crescenzo,C-38 and C-39, G Block,<br> Bandra Kurla Complex, Bandra East, Mumbai 400051</div>
    </div>
</body>

</html>