﻿<html>

<head>
    <style type="text/css">
        html {
            font-family: sans-serif;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
    </style>
</head>

<body>
    <p>Hi {{Escalation.FromUser}},
        <p/>
        <p>
            <strong>{{Escalation.ToRole}}</strong> just completed escalation for the {{Escalation.EntityType}} {{Escalation.EntityId}}
            with the following notes:</p>
        <p>{{Escalation.ResponseNotes}}</p>
</body>

</html>
$#{{Escalation.EntityType}}|{{Escalation.EntityId}}#$