<!doctype html>
<html>

<head>
	<meta charset='utf-8'>
	<title>Untitled Document</title>
	<style type='text/css'>
		.red p {
			margin: 5px;
		}

		p {
			font-family: arial;
			font-size: 14px;
			text-align: justify;
			line-height: 20px;
		}

		.address-box p {
			margin-bottom: 5px;
		}

		.address-box {
			float: right;
		}

		.wrap {
			margin: 25px;
		}

		.tab-space {
			margin-left: 30px;
		}

		table {
			border: 1px dashed #ccc;
			width: 100%;
			border-bottom: none;
		}

		table td {
			border-bottom: 1px dashed #ccc;
		}

		.bord-left {
			border-left: 1px dashed #ccc;
		}
	</style>
</head>

<body>
	<div class='wrap'>
		<p>Reference is made to the above Future Receipts Sale Agreement between Lendfoundry, LLC (Purchaser) and
			<span>{{MerchantLegalName}}</span> (Merchant) located at
			<span> {{PhysicalAdd}}</span> Dated
			<span> {{DateCreated}} </span>.</p>
		<p>Notwithstanding anything contained in the above referenced Agreements to the contrary, the Purchaser and Merchant
			<span>(s)</span>, collectively referred to as “the Parties,” agree as follows: </p>
		<p>This is to certify that the Merchant(s)
			<span>{{Owner1Name}}</span> {{Conjunction}}
			<span> {{Owner2Name}}</span>, (Indemnitor[s]) and the Purchaser, understand and agree that as long as the balance remains outstanding
			on the above referenced account, the Merchant
			<span>(s) is/are</span> prohibited from initiating or attempting to initiate a cash advance based on credit card receivables
			or a cash advance or loan based on total sales or deposits with any company other than Lendfoundry, LLC. Doing so will
			result in the Merchant
			<span>(s)</span> being in breach of the referenced Agreements and will result in the entire remaining balance plus stacking
			damages becoming immediately due and payable. Stacking damages as described in the Agreement are equal $2,500 or 25 percent
			of the outstanding balance, whichever is greater</p>
		<p>All other terms of the referenced Agreements remain unchanged. </p>
		<p>By signing below, the Parties agree to be bound by this addendum. </p>
		<table>
			<tbody>
				<tr>
					<td width='356' valign='top'>
						<p> ACCEPTED AND AGREED: </p>
						<p> Purchaser </p>
						<p> By:
							<span style='color:white'>LENDFOUNDRY_SIGNATURE </span>
						</p>
						<p> Name:{{LenderName}} </p>
						<p> Title:Lender </p>
					</td>
					<td class='bord-left' width='20' />
					<td width='356' valign='top'>
						<p> ACCEPTED AND AGREED </p>
						{{#each OwnerList}}
						<p> Merchant {{id}} </p>
						<p> By:
							<span style='color:white'> SIGNATUREOWNER{{id}} </span>
						</p>
						<p> Name: {{OwnerName}} </p>
						<p> Title: Owner </p>
						<p> Date:
							<span style='color:white'>SIGNED_DATE1</span>
						</p>
						{{/each}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>