<!doctype html>
<html>
<head>
<meta charset='utf-8'>
<title>Lender</title>
</head>
	
<body LANG='en-US' DIR='LTR'>
<div style='margin:0px auto; padding:0px; width:750px; background:#fff; color:#6c6c71; font-size:16px; font-family:Arial, sans-serif;'>
<div style='width:720px; background:#fff; border:solid 10px #bcbcbf; padding:25px 25px 0px 25px; float:left;'>
<!-- <div style='text-align:center; margin:10px 0px 20px 0px;'><a href='#'><img src='images/logo.png'  alt='Capital Alliance' border='0'/></a></div> -->
<div style='margin:0px 0px 20px 10px; float:left; width:100%; font-size:14px; color:#666769;'>
<p style='padding:0px; margin:5px 0px; font-weight:bold; color:#000'>Business Name :<span style=' color:#0053ab; font-weight:normal;'>{{businessName}}</span></p>
<p style='padding:0px; margin:5px 0px; font-weight:bold; color:#000'>Loan #<span style=' color:#0053ab; font-weight:normal;'> {{loanNumber}}</span></p>
<p style='padding:0px; margin:10px 0px;'>&nbsp;</p>
<P style='padding:0px; margin:5px 0px;'>Dear <span style=' color:#0053ab;'>{{name}}</span>,</P>
<P style='padding:0px; margin:5px 0px;'>Please accept this letter as confirmation for the loan that has been closed-off as of today <span style=' color:#0053ab;'>{{todayDate}}</span>. </P>
<P style='padding:0px; margin:5px 0px;'>The balance for <span style=' color:#0053ab;'>{{businessName}}</span> is as follows:</P>
<P style='padding:0px; margin:5px 0px;'>Total Balance Due: <span style=' color:#0053ab;'>{{loanDue}}</span></P>
<p style='padding:0px; margin:10px 0px;'>&nbsp;</p>
<P style='padding:0px; margin:0px; font-weight:bold; color:#000'>Kind Regards,</P>
<P style='padding:0px; margin:0px;'>LendFoundry</P>
<P style='padding:0px; margin:0px;'>development@lendfoundry.com</P>
</div>

</div>
</div>
</body>
</html>